<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytxd.dao.Statistics.st_rsvr_rMapper">
    <select id="GetData" resultType="java.util.HashMap">
        select st_stbprp_b.stcd,stnm,stlc,st_rsvr_r.tm,st_rsvr_r.w,st_rsvr_r.z ,
               st_rsvrfcch_b.CKFLZ,st_rsvrfcch_b.DSFLZ,NORMZ,DDZ
        from st_stbprp_b
                 left join (
            select stcd,tm,z,w from (select stcd,tm,z,w,row_number() over (partition by stcd order by tm) rn from st_rsvr_r
                                     where tm between #{starttime} and #{endtime})st_rsvr_r where rn = 1
        )st_rsvr_r on st_rsvr_r.stcd = st_stbprp_b.stcd
                 left join(select STCD,CKFLZ,DSFLZ,NORMZ,DDZ from st_rsvrfcch_b)st_rsvrfcch_b on st_rsvrfcch_b.STCD = st_stbprp_b.STCD
        where sttp in ('RR') and flag ='01'
        order by ifnull(z,-999) desc,ifnull(tm,'2000-01-01 00:00:00') desc,stcd desc
        limit 5
    </select>
</mapper>