<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytxd.dao.API.EssentialInfo.EssentialDNAInfo_Mapper">
	<resultMap id="DNAList" type="java.util.Map" autoMapping="true">
		<result column="id" property="id"/>
		<association column="stcd"  javaType="java.util.List"  autoMapping="true" property="attribute" select="Select_DNAInfoItem_List"/>
	</resultMap>

	<select id="Select_DNAInfo_List" resultMap="DNAList">
		select * from (select stcd,stnm,lgtd,lttd,sttp,sttpjoin.description sttpname from st_stbprp_b
			left join (select code ,description from sm_codeitem where codeid='TP') sttpjoin on sttpjoin.code = st_stbprp_b.sttp
		<where>
			<if test="stcd != null and stcd != '' ">
				and stcd = #{stcd}
			</if>
			<if test="stnm != null and stnm != '' ">
				and stnm = #{stnm}
			</if>
			and sttp = '04'
		</where>
		order by stcd
		) st_stbprp_b
		<if test="sort != null and sort != '' ">
			order by ${sort} ${order}
		</if>
	</select>

	<select id="Select_DNAInfoItem_List" resultType="java.util.HashMap">
		select st_dna_r.* from (select id,bid,tm,imagesurl,number,stcd from st_dna_r where stcd =#{stcd} order by tm desc
		    ) st_dna_r group by bid
		order by bid asc
	</select>

</mapper>